* {
    margin: 0;
    padding: 0;
}

html {

    background: #1e1a20;

}   

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.content_container {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.button {
    color: white;
    background-color: green;
    z-index: 2;
    margin: 1em 0 0 1em;
}

.header_container {
    
    display: flex;
    justify-content: start;
    margin: 1em 0 0 1em;
}


h1 {
    color: white;
}
